{% extends 'blog/layout.html' %}

<!--
<div class="col-md-10 col-lg-8 col-xl-7 mx-auto" method="POST">
    <br>
    {% csrf_token %}
    <form>
      <div class="form-row">
        <div class="col-12 col-md-9 mb-2 mb-md-0">
          <input type="text" class="form-control form-control-lg rounded-pill" name="artist" placeholder="Enter artist name...">
        </div>
        <div class="col-12 col-md-3">
          <input type="submit" value="Search" class="btn btn-block btn-lg btn-primary rounded-pill">
        </div>
      </div>
    </form>
  </div>



<div class="row">
    <form class="col s12" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i> 
          <input id="icon_prefix" type="text" class="validate" name="artist">
          <label class="active" for="icon_prefix">Artist Name</label>
          <input type="submit" value="Search">
        </div>
      </div>
    </form>
</div>
-->
{% block search%}
<div class="form-row">
    <form class="col-md-10 col-lg-8 col-xl-7 mx-auto" method="POST">
      {% csrf_token %}
      <div class="form-row">
          <div class="col-12 col-md-9 mb-2 mb-md-0">
            <input type="text" class="form-control form-control-lg rounded-pill" name="artist" placeholder="Enter artist name...">
          </div>
          <div class="col-12 col-md-3">
            <input type="submit" value="Search" class="btn btn-block btn-lg btn-primary rounded-pill">
          </div>
      </div>
    </form>
</div>
{% endblock search%}

{% block content%}


<h1>{{ artist_name }}</h1>
<p>
  Artist information
</p>


<ul>
  <li>Songkick URL: {{ artist_site }}</li>
  <li>{{ tour }}</li>
</ul>


<h3>Locations</h3>
{% if venue == None %}
  {{'Artist not near your location.'}}
{% else %}{% if venue != None %}
  {% for location, times in venue %}
  <ul>
    <li><u> {{ times }} </u></li>
    <ul>
      <li>{{ location }}</li>
    
    </ul>
  </ul>

{% endfor %}
{% endif %}
{% endif %}
{% endblock content%}
